<nav class="navbar navbar-expand-lg navColor">

    <div class="myLogo">

    <img 
        src="assets/img/logoAuPetitVillage.png"
        alt="logo"
        class="logo"/>
        
  </div>
    <a class="navbar-brand">Au petit village</a>
      <div class="linknav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a href="/" class="navlink"> Accueil </a>    
            <a href="/produits" class="navlink"> Produits </a>
            <a href="/a-propos" class="navlink"> À propos </a>    
          </li>
        </ul>
      </div>   
      

</nav>


