<div class="about">

<h2 class="titleAbout"> À propos </h2>

<div>
    

<h3 class="titlePresentation"> Il était une fois dans un petit village Gaullois </h3>
<p class="textPresentation"> Laure et Anatole se sont rencontrés lors d'un festival d'amoureux de notre petit Gaulois moustachu préféré. </p>
<p class="textPresentation">2 ans plus tard, ils décidaient de fonder "au petit village" concrétisant leur rêve et leur passion tout en se rapprochant de la terre natale de nos aventuriers.</p>


<div class="infos">
<section class="colAbout">
<article class="localizeUs">
<h3 class="titleLocalisation"> Où nous trouver</h3>
<article class="localizeUs">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4332.764681183917!2d-2.4691768464400905!3d48.63971258573869!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x480e0b11bc4712b5%3A0x2d0a545c2c697900!2s23%20Rue%20du%20Four%20%C3%80%20Boulets%2C%2022430%20Erquy!5e0!3m2!1sfr!2sfr!4v1732897969818!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</article>
</article>
</section>

<section class="colAbout">
<form>
<h3 class="titleForm"> Nous contacter </h3>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Votre nom</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Jules">
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Votre prénom</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="César">
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Votre adresse mail</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Votre message</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button class="formSend"> Envoyer</button>
  </form>
</section>
</div>
</div>
</div>