<h2 class="titleProduct"> Nos produits </h2>

  <section *ngIf="product">
  <div class="Product-card">
    <img
    src="{{ product.image }}" class="img-fluid" alt="{{ product.title }}"/>
    <div class="card-body">
      <h3 class="product-card-title">{{ product.title }}</h3>
      <p class="product-card-text">{{ product.description }}</p>
      <em class="product-price">Prix: {{ product.price }} €</em>
      <a href="#" class="btn">Acheter</a>

    
    </div>
  </div>
</section>