@font-face {
    font-family: 'BubbleboddyNeue';
    src: url('assets/fonts/bubbleboddy/BubbleboddyNeue-Bold\ Trial.ttf') format('truetype');
}

@font-face {
    font-family: 'comfortaa';
    src: url('assets/fonts/comfortaa/Comfortaa-Light.ttf') format('opentype');
}

