

<div class="HeaderComponent"></div>

<div class="input-group">
    
      <input mdbInput type="search" id="form1" class="form-control" />
      <label mdbLabel class="form-label" for="form1">Rechercher</label>
  
    <button type="button" class="btn btn-primary">
      <i class="fas fa-search"></i>
    </button>

<h2> Présentation de l'entreprise </h2>

<!-- Tri des produits -->

<!-- Produits -->
 <!-- Image du produit 1
  Nom
  Prix
  Panier -->

   <!-- Image du produit 2
  Nom
  Prix
  Panier -->

   <!-- Image du produit 3
  Nom
  Prix
  Panier -->

   <!-- Image du produit 4
  Nom
  Prix
  Panier -->

   <!-- Image du produit 5
  Nom
  Prix
  Panier -->

   <!-- Image du produit 6
  Nom
  Prix
  Panier -->
  </div>
