<h2> Présentation de l'entreprise </h2>
<p> Développée en 2022 dans un petit village en Armorique, cette entreprise vous propose des produits basés sur la licence Astérix et Obélix.</p>

<div> {{ figurines.picture }}</div>

<!-- Tri des produits -->

<!-- Produits -->
 <!-- Image du produit 1
  Nom
  Prix
  Panier -->

   <!-- Image du produit 2
  Nom
  Prix
  Panier -->

   <!-- Image du produit 3
  Nom
  Prix
  Panier -->

   <!-- Image du produit 4
  Nom
  Prix
  Panier -->

   <!-- Image du produit 5
  Nom
  Prix
  Panier -->

   <!-- Image du produit 6
  Nom
  Prix
  Panier -->
