<section class="sectionHome">
<h2 class="titlePage"> Accueil</h2>
<h3 class="titleHome"> Présentation de l'entreprise </h3>
<p class="textHome"> Développée en 2022 dans un petit village en Armorique, cette entreprise vous propose des produits basés sur la licence Astérix et Obélix.</p>
</section>


<section class="listProducts">
<h3 class="catalogue">Notre catalogue de produits</h3>
  

<!-- Trier par ordre alphabétique -->
<div class="sort">
<div class="sortName">
  <input
    [(ngModel)]="searchfig"
    type="text"
    class="input-text"
    placeholder="Rechercher une figurine"/>
    
</div>

<!-- Trier par prix -->
<div class="sortPrice">
   <select class="dropdown"
      (change)="triFigurines($event)">
      <option *ngFor="let option of ['asc', 'desc']" [value]="option">
      
      {{ option === "asc" ? "Tri par prix croissant" : "Tri par prix décroissant" }}
      </option>
    </select>

</div>
</div>

<!-- Afficher catalogue -->
        <div class="row figurines-list">
          <div
            class="col-1 col-md-3"
            *ngFor="let figurines of products
                | sortByPrice : order
                | sortByName : searchfig">
      

                <div class="card flex-wrap">
                  <img [src]="figurines.image"
                  alt="figurine"
                  class="card-img-top" >
                  <div class="card-body">
                    <h4 class="card-title">{{ figurines.title }}</h4>
                    <p class="card-text">{{ figurines.description }}</p>
                    <em class="home-card-price">Prix: {{ figurines.price }} €</em>
                    <button
                    type="button"
                    class="btn"
                    (click)="showFigurines(figurines.id)">
                    Plus de détails
                  </button>
                  </div>
                </div>


              </div>
            </div>
          </section>
 
 
 
  